-- SELECT * FROM etudiant WHERE age > 17 AND age < 26;
id	nom	prenom	age	email
1	Spaghetti	Betty	23	betty.spaghetti@laplateforme.io
3	Doe	John	18	john.doe@laplateforme.io
5	Dupois	Gertrude	20	gertrude.dupois@laplateforme.io
6	Dupois	Martin	18	martin.dupois@laplateforme.io
